<h1>Kittenz!</h1>


<h2>checklist 1 ☐ or ☑</h2>
<ol>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
</ol>


<h2>checklist 2 ☐ or ☑</h2>
<ol>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☐</li>
	<li>☐</li>
	<li>☐</li>
</ol>

<h2><%= link_to 'new kitten', new_kitten_path %></h2>

<h2>kittens list</h2>

<ol>
	<% @kittens.each do |cat| %>
		<li>
			<%= link_to cat.name, cat %>
			<%= link_to "kill",   cat, method: :delete %>			
		</li>
	<% end %>
</ol>

<h3>stuff to do</h3>
<ul>
	<li>css</li>
	<li>css for flash</li>
	<li>better flash (pluralization and count)</li>
	<li>navigation</li>
	<li>APIs in and APIs out explanations</li>
	<li>new page for the pictures</li>
	<li>pictures of cats, maybe by tag</li>
	<li>sidebar actually on the side(css)</li>
	<li>implement figaro gem to store the secret key</li>
</ul>