<h1>Kittenz!</h1>

<p>this app sends JSON data of the Kittens, both on the index page and in the show page for every single kitten</p>

<h2><%= link_to 'new kitten', new_kitten_path %></h2>

<h2>kittens list</h2>

<ol>
	<% @kittens.each do |cat| %>
		<li>
			<%= link_to cat.name, cat %>
			<%= link_to "kill",   cat, method: :delete %>			
		</li>
	<% end %>
</ol>