<h1>Kittenz!</h1>


<h2>checklist ☐ or ☑</h2>
<ol>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☑</li>
	<li>☐</li>
	<li>☐</li>
	<li>☐</li>
	<li>☐</li>

</ol>

<ol>
	<% @kittens.each do |cat| %>
		<li><%= link_to cat.name, cat %></li>
	<% end %>
</ol>